sudo pip install SpeechRecognition --break-system-packages
sudo pip install gTTS pyttsx3 playsound --break-system-packages
sudo pip install sounddevice --break-system-packages
sudo pip install paho-mqtt --break-system-packages